<div class="container">

    <div class="row">
        <div class="col-sm-2">
            President
        </div>
        <div class="col-sm-6">
            Andy Murrey
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            Vice President
        </div>
        <div class="col-sm-6">
            Derrick Baker
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            Secretary
        </div>
        <div class="col-sm-6">
            Theresa Wicklund
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            Treasurer
        </div>
        <div class="col-sm-6">
            Phil Lachmann
        </div>
    </div>
</div>